* {
    box-sizing: border-box;
    /*A propriedade CSS box-sizing é utilizada para alterar a forma como o navegador calcula as larguras e alturas dos elementos. Com o valor border-box, a largura e a altura incluem o padding e a borda do elemento. Isso pode facilitar o dimensionamento dos elementos sem precisar fazer cálculos extras.*/
}
body{
    background-color: #f6f8fc;
    background-image: url('../images/pexels-johannes-plenio-1423600.jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.content{
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: rgba(81, 255, 0, 0.329);
}
@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}